extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Josh Brown

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p.
            I'm burgeoning developer following my curiosity, passion for learning, and love of all things tech to a new career in web development.
            With a previous career as a sales engineer and mechanical engineering background, I believe I bring a unique perspective to the web development universe.
            As a newcomer to the industry Im eager to meet new people, learn new things, and apply my technical acumen to help build something great!
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li Node.js
          li Express
          li Pug
          li AJAX
          li jQuery

        h6 Contact Info

        ul
          li 123-456-7890
          li jbrown8013@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/jbrown8013/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/dt-jb' target="_blank") GitHub
        a.button.expanded(href='https://twitter.com/joshua_wbrown' target="_blank") Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
