extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Josh Brown

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p.
            I'm an American traveler learning what it's like to be a Sydneysider (spoiler: it's pretty awesome). I'm also a burgeoning developer following my curiosity, passion for learning, and love of all things tech to a new career in web development.
            With a previous career as a sales engineer and mechanical engineering background, I believe I bring a unique perspective to the web development universe.
            As a newcomer to the industry Im eager to meet new people, learn new things, and apply my technical acumen to help build something great!
        .cell.auto
            i.fab.fa-js.icon(class='icon:hoover')
            i.fab.fa-html5.icon(class='icon:hoover')
            i.fab.fa-css3-alt.icon(class='icon:hoover')
            i.fab.fa-node.icon(class='icon:hoover')
            i.fab.fa-react.icon(class='icon:hoover')
        li HTML
        li CSS
        li React
        li Node.js
        li Express
        li Pug
        li AJAX
        li jQuery


      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Contact

          br
          a(href='https://www.linkedin.com/in/jbrown8013/', target='_blank')
            i.fab.fa-linkedin-in.icon(class='icon:hoover')
          a(href='https://github.com/dt-jb', target='_blank')
            i.fab.fa-github.icon(class='icon:hoover')
          a(href='https://twitter.com/joshua_wbrown', target='_blank')
            i.fab.fa-twitter.icon(class='icon:hoover')
          a(href='mailto:joshua.brown.dev@gmail.com', target='_blank')
            i.fas.fa-envelope.icon(class='icon:hoover')
          ul
            li jbrown8013@gmail.com

        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li React
          li Node.js
          li Express
          li Pug
          li AJAX
          li jQuery


  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
