extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Josh Brown

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p.
            I'm an American traveler learning what it's like to be a Sydneysider (spoiler: it's pretty awesome). I'm also a burgeoning developer following my curiosity, passion for building, and love of all things tech to a new career in web development.
            With a successful career as a sales engineer and a background in mechanical engineering, I am bringing something a little different to the tech world.  By its very nature, a sales engineer must marry a customer first attitude with technical expertise and considerations for the business.  This is at the core of how I now approach my work in development, giving equal weight to the project’s technical requirements and the needs of the customer and their business.

          p
            |As I near completion of Treehouse’s Full Stack Developer program (on top of hundreds of hours spent on Free Code Camp), I am eager to meet new people, build my coding skills further, and apply my technical acumen to help build something great!
          p
            |When I’m not coding, you can find me reading about anything from renewable energy and space exploration to AI and cryptocurrency (really anything from an optimistic futurist perspective), trying my hand at surfing in Manly, and pondering how I can make the world better with tech. Check out a few of the latest things I’m into below!

          ul What I'm Reading:
            li: a(href="https://www.goodreads.com/book/show/40651883-snow-crash" target="_blank") Snow Crash, Neal Stephenson
            li: a(href="https://www.ynharari.com/book/sapiens/" target="_blank") Sapiens, Yuval Noah Harari

          ul Podcasts I'm listening to:
            li: a(href="https://podcasts.apple.com/us/podcast/codenewbie/id919219256" target="_blank").link CodeNewbie Podcast
            li: a(href="https://podcasts.apple.com/us/podcast/broken-record-malcolm-gladwell-rick-rubin-bruce-headlam/id1311004083" target="_blank") Broken Record with Malcolm Gladwell
            li: a(href="https://podcasts.apple.com/us/podcast/recode-decode-with-kara-swisher/id1011668648" target="_blank") Recode Decode with Kara Swisher

          ul What I'm Watching:
            li: a(href="https://www.hbo.com/chernobyl" target="_blank") Chernobyl (HBO)


      .cell.portfolio-meta.small-6.medium-2.large-3


        h6 Skills

        ul
          li JavaScript
          li HTML
          li CSS
          li React
          li Node.js
          li Express
          li Pug
          li AJAX
          li jQuery

        h6 Contact

        ul
          li joshua.brown.dev@gmail.com

  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
